@import ~sass/mixins

*
    box-sizing: border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-tap-highlight-color: transparent
    margin: 0
    padding: 0
    &:before,
    &:after 
        box-sizing: border-box
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
    &:focus
        outline: none
    // &::selection
    //     background: $accent
    //     color: white

html
    font-size: 62.5%

body
    font-size: 1.4rem

html,
body 
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    font-weight: 500
    line-height: 1.5rem
    -webkit-font-smoothing: antialiased   
    -webkit-overflow-scrolling: touch
    overflow: auto

button
    border: none
    cursor: pointer
    font-family: inherit

// input
//     border: none
//     border-radius: 0 
//     appearance: none
//     background: none
//     font-family: inherit
//     &:-webkit-autofill 
//         -webkit-transition-delay: 99999s

